@media screen and (max-width:1199px) {
   a.nav-bt1 {
      flex-direction: row;

   }
   .mobile-menu span{
      display:none;
   }
   
}

@media screen and (max-width:1024px) {
   .mobile-menu span{
    
    display: none;
    


}
}

@media screen and (max-width:991px) {
   a.nav-bt1 {
      display: flex;
      flex-direction: row;
   }

   .nav {
      display: none;
   }

   .heading {
      font-size: 35px;
   }
   .mobile-menu span{
    
    display:flex ;
    z-index: 3;

    


}
.header-content{
   display: flex;
   padding-left: 0;
   margin-bottom: 0;
   list-style: none;

}

.mobile-menu span{
   display: flex;
   padding-left:0;
   margin-bottom: 0;
   list-style: none;


}
.menu{
   display: flex;

}

}

@media screen and (max-width:768px) {
   .nav {
      display: none;
   }
}

@media screen and (max-width:1199px) {}

@media screen and (max-width:1199px) {}

@media screen and (max-width:1199px) {}